{
  "consumer_key": "Your tumblr app consumer key",
  "secret_key": "Your tumblr app secret key",
  "redirect_port": "Port for your tumblr app redirect endpoint",
  "use_blog_avatar_color": false,
  "blacklist": [
    "discourse tag",
    "Your ex's blog",
    "Any term you don't want to search"
  ]
}
